:root {
    --page-bg: #171717;
    --text: #eaeaea;
    --muted: #bdbdbd;
    --container: 1120px;
    --gap: clamp(24px, 4vw, 48px);
}

.about {
    background: var(--page-bg);
    color: var(--text);

    min-height: var(--hero-min-h);

    display: grid;
    place-items: center;
    padding-block: 1px;
}

.about__inner {
    max-width: var(--container);
    width: 100%;
    min-height: calc(100% - 2px);
    margin: 0 auto;
    padding: 0 24px;

    display: grid;
    align-content: center;
    gap: var(--gap); /* промежутки между блоками */
}

.about__title {
    margin-top: 30px;
    font: 700 clamp(20px, 2.4vw, 28px)/1.3 "Inter", system-ui, sans-serif;
    letter-spacing: .12em;
    text-transform: uppercase;
    text-align: center;
}

.about__block {
    max-width: 720px;
    margin: 0 auto;
}

.about__block strong {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: var(--text);
}

.about__block p {
    margin: 0;
    color: var(--muted);
    font: 400 clamp(14px, 1.25vw, 16px)/1.75 "Inter", system-ui, sans-serif;
}
