* {
    box-sizing: border-box
}

html, body, #root {
    height: 100%;
    margin: 0;
    background: #000
}

img, picture, video {
    max-width: 100%;
    display: block
}

button {
    font: inherit
}
